.banner {
  background: linear-gradient(180deg, #43b1c0, transparent);
}
.sticky-header {
  position: sticky;
  top: 0; /* Adjust this value to match the height of your ion-header */
  z-index: 1000; /* Ensure the header appears above other content */
}

.album-title {
  color: white;
  font-size: 4em;

  white-space: nowrap;
  font-weight: 900;
}

.album-img::part(image) {
  width: 214px;
  height: auto;
  border-radius: 4px;
}
on-list-header {
  color: gray;
}
ion-list-header ion-icon {
  font-size: 24px;
  margin-right: 44px;
}
.avatar {
  padding-left: 16px;
}

.avatar {
  position: relative;
}

.play-icon {
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: calc(50% + 8px);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.add-icon,
.ellipsis-icon {
  opacity: 0;
}

.track-item:hover .play-icon,
.track-item:hover .add-icon,
.track-item:hover .ellipsis-icon {
  opacity: 1;
}

.track-item:hover .number {
  opacity: 0;
}

.track-info {
  margin-left: 24px;
}

.number {
  font-weight: bold;
  font-size: 16px;
  color: gray;
  opacity: 1;
}

a:hover {
  text-decoration: underline;
}

.list-text {
  text-transform: capitalize;
}
