<ion-app>
  <ion-grid class="ion-no-margin ion-no-padding container">
    <ion-row class="ion-no-margin ion-no-padding row-1">
      <ion-col size="2" class="ion-no-margin ion-no-padding">
        <spotify-menu />
      </ion-col>
      <ion-col
        [size]="(playlistShowed$ | async) ? '8' : '10'"
        class="ion-no-margin ion-no-padding full-height"
      >
        <ion-card class="full-height">
          <ion-card-header class="ion-no-padding">
            <spotify-header></spotify-header>
          </ion-card-header>
          <ion-card-content class="scrollable-list row-1">
            <ion-router-outlet></ion-router-outlet>
          </ion-card-content>
        </ion-card>
      </ion-col>
      @if(playlistShowed$ | async){
      <ion-col size="2" class="ion-no-margin ion-no-padding full-height">
        <ion-card class="full-height">
          <spotify-play-list />
        </ion-card>
      </ion-col>
      }
    </ion-row>
    <ion-row class="row-2">
      <ion-col>
        <div>
          <spotify-footer></spotify-footer>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-app>
