<ion-card>
  <div style="position: relative">
    <ion-img
      [alt]="data.title"
      [src]="data.image"
      (click)="view.emit()"
    ></ion-img>

    <ion-button
      shape="round"
      size="large"
      class="click-scale"
      (click)="play.emit()"
    >
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
  </div>

  <ion-card-header>
    <ion-label
      ><b>{{ data.title }}</b></ion-label
    >
    <ion-card-subtitle>
      <span class="artist-name">
        {{ data.subtitle }}
      </span>
    </ion-card-subtitle>
  </ion-card-header>
</ion-card>
