<ion-grid class="scrollable-list">
  @for (section of homeSection; track $index) {
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                <h1>{{ section?.title }}</h1>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            @for (item of section?.items$ | async; track $index) {
              <ion-col>
                <spotify-card-info
                  [data]="item"
                  (played)="playItem(item)"
                  (view)="viewItem(item)"
                />
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  }
</ion-grid>
